<div *ngIf="flag">
  <p>Contents from app-micro-fe</p>
  <app-micro-fe *axLazyElement="url"></app-micro-fe>
  <p>Contents from app-micro-fe-two</p>
  <app-micro-fe-two *axLazyElement="urltwo"></app-micro-fe-two>
</div>
